.btn{
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0.125rem solid  #57297e;
    border-radius: 2rem;
    color: #57297e;
    background: var(--corTexts);
    font-size: 0.8375rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s all ease;

}
.btn:hover{
    border-color:var(--corTexts);
    background-color:#57297e;;
    color: var(--corTexts);
    box-shadow: 0 1rem 1rem var(--corTexts);
}
.btn--quote{ 
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0.125rem solid  var(--corBtn);;
    border-radius: 2rem;
    color: var(--corBtn);
    background: unset;
    font-size: 0.8375rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s all ease;
}
.btn--quote:hover{
    color: #fff;
    border-color: var(--corBtn);
    background-color: var(--corBtn);
    box-shadow: 0 1rem 1rem #0007; 
}