.footer{
    background-color: var(--corCabecalhoRodape);
    color: var(--corLinks);
    text-align:  center;
    padding: 0 1rem;
}
.footer__container{
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto;
    align-items: center;
    border-bottom: 0.1rem solid #fff3;
    padding: 3rem 0;
}
@media screen and (min-width: 1280px) {
    .footer__container {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: unset;
      padding: 2.5rem 0;
    }
}  
.footer .logo-rodape{
    justify-self: start;
    margin: 0;
    font-size: 1.25rem;
}
.logo-rodape{
    height: 80px;
    top: 1.5rem ;
    left: 1vw;   
}
@media screen and (min-width: 1280px) {
    .footer .logo-rodape {
      justify-self: start;
    }
  }
  
.footer__form{
    display: grid;
    grid-template-columns: unset;
    gap: 5.575rem;
    align-items: center; 
}
@media screen and (min-width: 1280px) {
    .footer__form {
      grid-template-columns: 9ch auto;
    }
  }
.footer__form label{
    display: grid;
    grid-template-columns: 11rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3rem;
}
.footer__email{
    display: grid;
    grid-template-columns: auto 3.375rem;
}
@media screen and (min-width: 1280px) {
    .footer__form__email {
      padding: 0;
    }
  }
.footer__form input{
    background-color: var(--corMain);
    border: unset;
    padding: 0.75rem;
    font-size: 0.875rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: var(--cor-primary);
}
.footer__form input::placeholder{
    color: rgba(0, 0, 0, 0.3);
    
}
.footer__form button{
    border: unset;
    height: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
    width: 3rem;  

}
.footer__form button:hover{
    background-color: var(--cor-primary);
    color: var(--corLinks);
}
.footer__social{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
    justify-self: center;  
}
@media screen and (min-width: 1280px) {
    .footer__social {
      justify-self: end;
    }
}  

.footer__social a,
.footer__social a:hover,
.footer__social a:visited {
    color: var(--corLinks);
    letter-spacing: 0.5875rem;
    justify-self: start;
}
.footer p{
    margin: 0.5rem 0;
}