.hero{
    position: relative;
    height: 60vh;
    border: 3px solid var(--corTexts);
}
.hero__background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.hero__container{
    position: relative;
    height: 100%;
}
.hero__copy{
    position: absolute;
    bottom: 0rem;
    right: 37rem;
    width: 55%;
    
}
@media screen and (min-width: 1380px) {
    .hero__copy {
        position: absolute;
        bottom: 0;
        right: 39rem;
        width: 75%;
        
    }
}
.hero__copy h2{
    margin: 0;
    margin-bottom: -1rem;
    font-size: 4rem;
    line-height: 7.5rem;
    letter-spacing: -0.3125rem;
    color: var(--corMain);
    
}
@media screen and (min-width: 1380px) {
    .hero__copy h2{
        
        margin-bottom: 2rem;
        font-size: 6rem;
    }
}
.hero__copy p{
    margin: 0;
    font-size: 0.8375rem;
    line-height: 1.475rem;
    color: var(--cor-primary);
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--cor-primary); 
}
@media screen and (min-width: 1380px) {
    .hero__copy p{
    font-size: 1.1375rem;
    line-height: 1.875rem;
        
    }
}