.navbar{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    top: 0;
    left: 0;

    width: 100vw;
    height: 7.75rem;
    padding: 0rem;

    background-color:var(--corBackground);
    color: var(--corTexts);
}
.navbar__links{

    justify-self: end;

}
.navbar__links li {
    font-size: 0.875rem;
    margin-right: 2rem;
    text-transform: uppercase;
}
.navbar__links a {
    color: var(--corLinks);
    text-decoration: none;
    font-weight: 700;
}

.navbar__links a:hover {
   color: #a7c20e
}