/* --------------------------CONFIGURAÇÕES GERAIS------------------------------ */
.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--corBackground);
  color: var(--corTexts);
}
.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  width: 100vw;
  height: 7.75rem;
  padding: 1 2.5rem;
}

.navbar__links {
  display: none;
  justify-self: end;
}
.navbar__links.active {
  display: grid;
  place-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 3rem 2rem;
  background: rgba(247, 210, 44, 0.973);
}

.navbar__links li {
  font-size: 1rem;
  margin-right: 2rem;
  text-transform: uppercase;
}
.navbar__links a {
  color: #000e;
  text-decoration: none;
  font-weight: 700;
}
.navbar__links a.active {
  color: var(--corTexts);
}

.navbar__links a:hover {
  color: var(--corMain);
}
.navbar__menu-btn {
  cursor: pointer;

  position: relative;
  z-index: 10;
  font-size: 2rem;
  width: fit-content;
  color: #fff;
  background: unset;
  border: unset;
  padding: 0 1rem;
  justify-self: end;
  align-self: start;
  margin-top: 2rem;
}

/* --------------------------MOBILE(320PX)------------------------------ */
@media screen and (min-width: 320px) {
  .navbar__container {
    width: 91vw;
  }
}
/* --------------------------LAPTOP(1024PX)------------------------------ */
@media screen and (min-width: 1024px) {
  .navbar__container {
    height: 7rem;
    margin-right: 1rem;
  }
  .navbar__links {
    display: flex;
  }

  .navbar__links li {
    font-size: 0.7rem;
    margin-right: 2rem;
    text-transform: uppercase;
  }

  .navbar__menu-btn {
    display: none;
  }
}
/* --------------------------DESKTOP(1280PX)------------------------------ */
@media screen and (min-width: 1280px) {
  .navbar__container {
    height: 7rem;
    margin-right: 3rem;
  }
  .navbar__links {
    display: flex;
  }

  .navbar__links li {
    font-size: 0.875rem;
    margin-right: 2rem;
    text-transform: uppercase;
  }

  .navbar__menu-btn {
    display: none;
  }
}
/* --------------------------DESKTOP/TV(1380PX)------------------------------ */

@media screen and (min-width: 1380px) {
  .navbar__links {
    display: flex;
  }

  .navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
  }

  .navbar__menu-btn {
    display: none;
  }
}
