:root {
    --cor-primary: #000;
    --corTexts: #ffffff;
    --corLinks:antiquewhite;
    --corBtn:#7e8b32;
    --corBackground: linear-gradient(260deg, #9c1abc 0, #7815aa 25%, #530e94 50%, #2c077d 75%, #000468 100%);
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    background-image: var(--corBackground);
}