@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --cor-primary: #000;
    --corTexts: #ffffff;
    --corLinks:antiquewhite;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(74,99,147,1) 36%, rgba(0,212,255,1) 100%);

}

body {
    margin: 0;
    padding-top: 7.75rem;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar{

    position: fixed;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    top: 0;
    left: 0;

    width: 100vw;
    height: 7.75rem;
    padding: 0rem;

    background-color: var(--cor-primary);
    color: var(--corTexts);

}
.navbar__links{

    justify-self: end;

}
.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}
.navbar__links a {
    color: var(--corLinks);
    text-decoration: none;
    font-weight: 700;
}

.navbar__links a:hover {
   color: #a7c20e
}
.logo-infografica {
   height: 180px;
   position: fixed; 
   
 
   
}
.copy--primary{
   color: #a7c20e
}
#slider{
    background-color: #000;
    color: var(--corTexts);

}
.slide{
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.slide__copy{
    position: absolute;
    top: 6.25rem ;
    left: 50vw;
}

.slide__copy h6 {
    font-size: 0.9375rem;
    margin-right: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}
.slide__copy h2 {
    font-size: 6.2rem;
    line-height: 6.25rem;
    text-transform: uppercase;

}
.btn{
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    color: #a7c20e;
    background: unset;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;

}
.btn:hover{
    border-color: #a7c20e;
    background-color: #a7c20e;
    color: #fff;
}


