@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');


* {
    box-sizing: border-box;
}

:root {
    --cor-primary: #000;
    --corTexts: #ffffff;
    --corLinks:antiquewhite;
    --corBtn:#7e8b32;
    --corCabecalhoRodape:#0a005f;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(74,99,147,1) 36%, rgba(0,212,255,1) 100%);

}

body {
    margin: 0;
    padding-top: 7.75rem;
}
/* header, main, footer{ 
    overflow-x: hidden; 
   } */
ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: #a7c20e; */
}

.navbar{

    position: fixed;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    top: 0;
    left: 0;

    width: 100vw;
    height: 7.75rem;
    padding: 0rem;

    background-color:var(--corCabecalhoRodape);
    color: var(--corTexts);

}
.navbar__links{

    justify-self: end;

}
.navbar__links li {
    font-size: 0.875rem;
    margin-right: 2rem;
    text-transform: uppercase;
}
.navbar__links a {
    color: var(--corLinks);
    text-decoration: none;
    font-weight: 700;
}

.navbar__links a:hover {
   color: #a7c20e
}
.logo-infografica {
   height: 130px;
   position: fixed; 
   top: 0rem ;
   left: 0vw;
     
}
.copy--primary{
   color: var(--corBtn)
}
#slider{
    background-color: #000;
    color: var(--corTexts);

}
.slide{
    position: relative;
    height: calc(90vh - 7.75rem);
}

.slide__background-image{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.slide__copy{
    position: absolute;
    top: -1rem ;
    left: 64vw;
}

.slide__copy h6 {
    font-size: 1.0375rem;
    margin-right: 400;
    text-transform: uppercase;
    letter-spacing: 0.10875rem;
}
.slide__copy h2 {
    font-size: 4.2rem;
    line-height: 4rem;
    text-transform: uppercase;

}
.btn{
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0.125rem solid  var(--corBtn);;
    border-radius: 2rem;
    color: #fff;
    background: var(--corBtn);
    font-size: 0.8375rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s all ease;

}
.btn:hover{
    border-color: var(--corBtn);
    background-color: unset;
    color: var(--corBtn);
    box-shadow: 0 1rem 1rem #0009;
}
#counter{
    background-color: #a7c20e;
    color: #000000;
    text-transform: uppercase;
       
}
.counter__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 4.375rem 1rem;
    
}
.counter__container h3{
    font-size: 2.185rem;
}
.counter__container h3 small{
    display:block;
    font-size: 1.25rem;

}
.institutional{
    background-color: var(--corBackgroundPrimary);
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}
.institutional__image{
    max-width: 550px;

}
.institutional__copy{
    padding: 0 1.875rem 0 0;
}
.institutional__copy h6{
    font-size: 0.875rem;
    font-weight: 300;
    color: #a7c20e;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}
.institutional__copy h4{
    font-size: 1.5625rem;
    margin-top: 1rem;
    color: #0a0a0a;
}   
.institutional p{
    font-family: "Roboto", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 2.5rem;
    color:#a7c20e;
}
.quote{
       background-image: url(./images/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote__container{
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 88vh;
}
.quote__copy{
    background: #e4dede;
    padding: 5.625rem 3.375rem;
}
.quote__copy h6{
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    line-height: 1.4375rem;
    text-transform: uppercase;
    margin: 0;
    max-width: 53ch;
}
.quote__copy h2{
    font-size: 4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin: 1.875rem 0;
}
.quote__copy h2 span{
    display: block;
}
.btn--quote{ 
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0.125rem solid  var(--corBtn);;
    border-radius: 2rem;
    color: var(--corBtn);
    background: unset;
    font-size: 0.8375rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s all ease;
}
.btn--quote:hover{
    color: #fff;
    border-color: var(--corBtn);
    background-color: var(--corBtn);
    box-shadow: 0 1rem 1rem #0007; 
}
.footer{
    background-color: var(--corCabecalhoRodape);
    color: #fff;
    text-align:  center;
}
.footer__container{
    display: grid;
    grid-template-columns:  repeat(3, auto);
    align-items: center;
    border-bottom: 0.1rem solid #fff3;
    padding: 5rem 0;
}
.footer .logo-rodape{
    justify-self: start;
    margin: 0;
    font-size: 1.25rem;
}
.footer__form{
    display: grid;
    grid-template-columns: 12ch auto;
    gap: 1.375rem;
    align-items: center; 
}
.footer__form label{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
}
.footer__form_email{
    display: grid;
    grid-template-columns: auto 3.375rem;
}
.footer__form input{
    background-color: var(--corBtn);
    border: unset;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem;
    color: #fff;
}
.footer__form input::placeholder{
    color: var(--cor-primary);
    
}
.footer__form button{
    cursor: pointer;
    transition: 0.3s all ease;
    width: 3rem;
    height: 2.65rem;

}
.footer__form button:hover{
    background-color: #a50000;
    color: white;
}

.footer__social a,
.footer__social a:hover,
.footer__social a:visited{
    color: white;
}
.footer p{
    margin: 2.5rem 0;
}
